@keyframes shakingImg {
    25% {transform: rotate(0deg);}
    30% {transform: rotate(5deg);}
    35% {transform: rotate(-5deg);}
    45% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    55% {transform: rotate(0deg);}
}

/* clear formatting */
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin;
}

body {
    width: 100%;
    height: 10em;
    box-sizing: border-box;
    background-color: #845231;
}

h1 { /* used in the heading, the title */
    font-size: auto; 
}

h2 { /* used for Benefits and Risks headers */
    padding: 5px 10px;
    font-size: 35px;
}

h3 { /* section titles */
    font-size: 25px;
}

p, a { /* content */
    font-size: 18px;
}

.heading {
    display: grid;
    grid-template-columns: 10% auto 10%;
    padding: 15px;
    background-color: #3e2906;
    color: #f9f8eb;
    align-items: center;
}

.heading img {
    justify-self: center; /* all grid items vertically centralised */
}

#logo {
    max-width: 39px; /*image cannot be too tall */
    min-width: 30px; /* image cannot be squished down too small */
}

#menu {
    max-width: 100%; /* prevents image from expanding too large */
    max-height: 60%; /*image cannot be too tall */
    min-height: 50%; /* image cannot be squished down too small */

    transition: all 0.2s ease-in-out; /* used to animate rotation */
}

.title {
    justify-self: left; /* horizontally centralised */
    padding-top: 2%;
    padding-left: 1%;
}

#temp {
    background-color: yellow;
    justify-self: center; /* horizontally centralised */
    align-self: center; /* vertically centralised */
}

.navi {
    grid-column: 1 / 4; /* merge, starting from line 1 to 4 --> the entire heading */
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
    flex-grow: 1;

    max-height: 0px; /* used for transition in dropping down */
    overflow: hidden; /* hide text when ma-height is 0 */
    transition: max-height 0.2s ease-out;
        /* translate according to its max height in 0.2s, easing out to slowly drop down */
}

.navi a {
    flex-basis: 100%;
    padding: 5px;
    color: #f9f8eb;
    border-top: 1px solid #f9e4c3;
    border-bottom: 1px solid #f9e4c3;
    text-decoration: none;
}

.navi a:hover {
    color: #a47454;
}

.navi a:active {
    color: #674834;
}

/* the indented links specific to the pg */
.sublink {
    margin-left: 50px;
}

.content {
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
}

.header {
    flex-basis: 100%;
    flex-grow: 1;
}

.odd {
    background-color: #f6f5e1;
    color: #3e2906;
}

.even {
    background-color: #845231;
    color: #f9f8eb;
}

#about {
    flex-basis: 100%;
    flex-grow: 1; /* used for box to fill up screen horizontally when in movile, fill up hald of screen (evenly) in tablet*/
    display: grid;
    grid-template-rows: 2;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
    padding: 10px 10px 5px;
    border-bottom: 2px solid #f9e4c3;
}

#about h3 {
    align-self: flex-end;
}

.subtopic {
    flex-basis: 100%;
    flex-grow: 1; /* used for box to fill up screen horizontally when in mobile, fill up hald of screen (evenly) in tablet*/
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; /* horizontally centralised */
    align-items: start; /* vertically centralised */
    row-gap: 5px; /* 5px gap between each row */
    padding: 5px 10px;
    border-bottom: 2px solid #f9e4c3;
}

.subtopic a {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
}

.subtopic p { /* overides the justify-items center for all subtopic elements */
    /* text aligns to the left */
    justify-self: flex-start;
    margin-bottom: 10px;
}

#qr {
    flex-basis: 100%;
    flex-grow: 1; /* used for box to fill up screen horizontally when in movile, fill up hald of screen (evenly) in tablet*/
    display: none; /* set display to grid in tablet mode */
        /* hidden in mobile mode */
    grid-template-rows: 2;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
    padding: 10px 10px 5px;
    border-bottom: 2px solid #f9e4c3;
}

#qr img {
    max-height: 100px; /*image cannot be too tall */
    min-height: 80px; /* image cannot be squished down too small */
    padding: 5px;
    flex-basis: 100%; /* center on pg within the a link */
}

/*links in about pg, even */
.even a { 
    color: #f9f8eb;
    text-decoration: none;
}

.even a:hover {
    color: #3e2906;
}

.even a:active {
    color: #674834;
}

/*links in about pg, odd */
.odd a {
    color: #3e2906;
    text-decoration: none;
}

.odd a:hover {
    color: #b15f29;
}

.odd a:active {
    color: #c9a187;
}

.clicktoexpand {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
    text-align: center;
}

/*to show the headers are clickable and are clicked, even */
.even .clicktoexpand h3 { 
    color: #f9f8eb;
    text-decoration: none;
}

.even .clicktoexpand h3:hover {
    color: #3e2906;
}

.even .clicktoexpand h3:active {
    color: #674834;
}

/*to show the headers are clickable and are clicked, odd */
.odd .clicktoexpand h3 {
    color: #3e2906;
    text-decoration: none;
}

.odd .clicktoexpand h3:hover {
    color: #b15f29;
}

.odd .clicktoexpand h3:active {
    color: #c9a187;
}

/*to show the headers are clickable and are clicked, click for pop up */
.clickforpopup h3 {
    color: #3e2906;
    text-decoration: none;
}

.clickforpopup h3:hover {
    color: #b15f29;
}

.clickforpopup h3:active {
    color: #c9a187;
}

/* drop down clickable img in subtopic sections */
    /* does not include images in about or oddessy */
.subtopic img:hover {
    animation-name: shakingImg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.subtopic img {
    max-height: 80px; /*image cannot be too tall */
    min-height: 60px; /* image cannot be squished down too small */
    padding: 5px;
    flex-basis: 100%; /* center on pg within the a link */
}

/* the parts that will drop down */
.expandable {
    max-height: 0px; /* used for transition in dropping down */
    overflow: hidden; /* hide text when ma-height is 0 */
    margin: 5px 10px; /* margin vs the section's background */
    transition: max-height 0.2s ease-out;
        /* translate according to its max height in 0.2s, easing out to slowly drop down */
}

.expandable p {
    padding: 8px 8px 5px; /* padding vs the background image */
    text-align: start;
}

/* for the Odyssey pg only, the "timeline" */
#journeyline {
    display: grid;
    grid-template-areas: /* dictates the layout of elements inside the grid */
        "."
        "event1" /* . indicates an empty cell. used to alternate which side of the timeline the events are */
        "event2"
        "event3"
        "event4"
        "event5"
        "event6";
    row-gap: 3em; /* height of the vertical gap between events */
    position: relative; /* position relative to its normal position */
        /* prevents the journeyline from extending past the grid area */
    background-color: #f6f5e1;
}

/* the timeline part of the journeyline */
#journeyline::before { /* before inserts soemthing before the journeyline element */
    content: ""; /* no text */
    box-sizing: border-box; /*includes content and padding, border */
    width: 10px;
    height: 96%; /* adjusted so there is a gap between the timeline and the header */
        /* height + top = 100% */
    background-color: white;
    border: 1.5px solid #b15f29;
    position: absolute; /* position in accordance with the journeyline element */
    left: 1.5em; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    top: 4%; /* lower the timeline for a gap between the timeline and the header */
    border-radius: 40px; /* rounded borders */
}

/* for the circles on the timeline, placed before the elements */
.left::before, .right::before {
    content: "";
    box-sizing: border-box; /*includes content and padding, border */
    position: absolute;
    left: 1.2em; /* as centered as possible, only for mobile mode */
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make a circle */
    margin-top: 2.75em; /* put it about center vertically relative to the left element */
    background-color: white;
    border: 1.5px solid #b15f29;
    z-index: 1; /* brings it fowrward, overlapping onto the timeline */
}

/* grid-area used for grid template areas for journeyline --> give the element a place in the grid */
#event1 {
    grid-area: event1; 
}
#event2 {
    grid-area: event2; 
}
#event3 {
    grid-area: event3; 
}
#event4 {
    grid-area: event4; 
}
#event5 {
    grid-area: event5; 
}
#event6 {
    grid-area: event6; 
}

.left, .right {
    justify-self: left; /* horizontally left, closer to the timeline */
    padding: 5px 25px; /* 25px away from the timeline */
    margin-left: 10px; /* takes the timeine's width into account */
    width: 80%;
}

.clickforpopup {
    display: block;
    margin: 0px 0.5em;
}

.clickforpopup img {
    max-width: 180px; /*image cannot be too long */
    min-width: 160px; /* image cannot be squished too thin */
}

.popup {
    background-color: #f9f8eb;
    border: 1.5px solid #845231;
    border-radius: 20px 20px;
    position: fixed; /* pop up does not affect alignment of the other elements and is not affected by their alignment */
    top: 10%; /* pop up appears 10% away from the top */
    left: -100%; 
        /* - 100% to make it completely off screen */
        /* 5% for pop up appears in the center of the screen horizontally */
    width: 90%;
    min-height: 80%;
    max-height: 85%;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
    z-index: 2; /* bring forward even before points in timeline */
}

/* title of the pop up */
.popup h3 { 
    padding: 5px 10px;
    flex-basis: 85%;
    flex-grow: 9;
}

/* paragraph text of the pop up */
.popup p { 
    padding: 5px 10px;
    flex-basis: 90%;
    flex-grow: 1;
}

/* x button for popups, meant to close the popup when pop up is opened */
.close {
    padding-top: 4px;
    flex-basis: 5%;
    flex-grow: 1;
    font-size: 20px;
}

.popup img {
    /* use margin to center image since justify-self doesnt work for flex */
    margin: 4% auto;
    max-width: 70%; /*image cannot be too long */
    min-width: 60%; /* image cannot be squished too thin */
}

.references {
    flex-basis: 100%;
    border-top: 2px solid #3e2906;
    background-color: #c9a187;
    row-gap: 1.5px;;
    padding: 5px;
}

.references h3 {
    color: #674834;
    font-size: x-large;
}

.references a {
    text-decoration: none;
    color: #f6f5e1;
    font-size: medium;
}

.references a:hover {
    color: #3e2906;
}

.references a:active {
    color: #674834;
}

/* for the catch coffee beans mini game */
#gamefield {
    width: 400px; /* fix a width */
    height: 300px; /* fix a height */
    background-color: #f9f8eb;
    border: 2px solid #3e2906;
    margin: 5px auto; /* 5px border at tope and bottom*/
            /* auto centers the container on pg horizontally */
    display: grid;
    grid-template-columns: 10% auto 10%;
}

/* arrows player can use to move the cup */
#leftarrow, #rightarrow {
    width: 20px;
    height: 150px;
    margin: auto; /* center horizontally and vertically */
}

/* change background colour upon hover to show that player is hovering over the arrows */
#leftarrow:hover, #rightarrow:hover {
    background-color: #c9a187;
}

#leftarrow {
    transform: rotateZ(180deg);
}

#playingfield {
    width: auto;
    height: auto;
    background-color: #f6f5e1;
}

/* player controlled object that catches the beans */
#playerscup {
    width: 100px;
    height: 60px;
    position: relative;
    top: 187px; /* line cup with the bottom line */
    left: 0px;
    /* playing width is 320 px */
        /* max width player's cup can travel is 220px */
        /* playingfield's width - playerscup's width */
}

.coffeebean {
    position: relative;
    width: 35px;
    height: 50px;
}

/* dislpay score from game */
#score {
    flex-basis: 100%;
    margin-left: 10%;
    padding: 1% 0%;
}

/* TOGGLE menu button */
.hidden {
    display: none;
}

/* for tablet: 541px to 720px */
@media screen and (min-width: 541px) {    
    #logo {
        max-width: 55px; /*image cannot be too tall */
        min-width: 45px; /* image cannot be squished down too small */
    }
    
    #about {
        flex-basis: 40%; /* set to 40% to ensure that 2 about/subtopic boxes can be in the same line, with flex-grow helping them fill up the screen evenly */
        padding: 20px 15px 5px; /* shift subject title down with more side spacing */
    }
    .subtopic {
        flex-basis: 40%;
        padding: 5px 15px;
    }
    #qr {
        display: grid; /* appears */
    }

    /* for the Odyssey pg only, the "timeline" */
    #journeyline {
        grid-template-columns: 46% 46%; /* used to make both columns same width. not 100% due to the column gap */
        grid-template-areas: /* dictates the layout of elements inside the grid */
            ". ."
            "event1 ." /* . indicates an empty cell. used to alternate which side of the timeline the events are */
            ". event2"
            "event3 ."
            ". event4"
            "event5 ."
            ". event6";
        column-gap: 8%; /* width of the sections with the timeline */
        row-gap: 3em; /* height of the vertical gap between events */
    }

    /* the timeline part of the journeyline */
    #journeyline::before { /* before inserts soemthing before the journeyline element */
        left: 49%; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    }

    /* for the circles on the timeline, placed before the elements */
    .left::before, .right::before {
        width: 25px;
        height: 25px;
        left: 47.75%; /* as centered as possible, only for tablet mode */
    }

    .left {
        justify-self: right; /* horizontally right, closer to the timeline */
        margin-left: 0px; /* takes the timeine's width into account */
    }
    
    .right {
        margin-left: 0px;
    }

    /* for the catch coffee beans mini game */
    #gamefield {
        width: 500px; /* fix a width */
        height: 400px; /* fix a height */
        margin: 10px auto 5px; /* 5px border at tope and bottom*/
                /* auto centers the container on pg horizontally */
    }

    /* arrows player can use to move the cup */
    #leftarrow, #rightarrow {
        width: 25px;
        height: 200px;
    }

    /* player controlled object that catches the beans */
    #playerscup {
        width: 120px;
        height: 70px;
        top: 267px; /* line cup with the bottom line */
    }

    .coffeebean {
        width: 40px;
        height: 60px;
    }
}

/* for computer */
@media screen and (min-width: 721px) {
    h1 { /* used in the heading, the title */
        font-size: 50px; 
    }
    #menu {
        display: none; /* hide menu icon */
    }
    #logo {
        max-width: 70px; /*image cannot be too tall */
        min-width: 55px; /* image cannot be squished down too small */
    }
    .navi {
        display: flex; /* expose navi */
        max-height: fit-content; /* change max-height from 0 to a size according to its content's size so that it becomes visible */
    }
    .navi a {
        flex-basis: 20%; /* line all options in the same line */
        flex-grow: 1; /* lt all options take up equal space */
        text-align: center; /* aligns text in the element in the center of the element */
        margin-top: 10px;
    }

    #about p 
    {
        width: 60%; /* limits how far the text can stretch --> easier to read */
    }
    .subtopic {
        flex-basis: 100%;
        padding: 30px 15px;
        row-gap: 15px; /* 15px gap between each row */
        align-items: center;
    }
    .even {
        grid-template-columns: auto 70%;
    }
    .odd {
        grid-template-columns: 70% auto;
    }
    .odd p {
        order: -1; /*shift p to be first in order for alignment purposes */
    }
    .subtopic p {
        width: 70%; /* limits how far the text can stretch --> easier to read */
        justify-self: center;
    }

    /* placed below to override what was mention above for .odd sincee it affects elemtn with #about as well */
    #about, #qr {
        flex-basis: 100%; /* 1 per row */
        padding: 40px 15px; /* shift subject title down with more side spacing */
        row-gap: 15px; /* 15px gap between each row */
        grid-template-columns: 100%; /* takes full row */
    }
    #about h3, #qr h3 {
        order: -1; /* header before text */
    }
    #qr img {
        max-height: 120px; /*image cannot be too tall */
        min-height: 100px; /* image cannot be squished down too small */
    }
   
    /* the timeline part of the journeyline */
    #journeyline::before { /* before inserts soemthing before the journeyline element */
        width: 12.5px;
        top: 1%;
        left: 49.65%; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    }

    /* for the circles on the timeline, placed before the elements */
    .left::before, .right::before {
        width: 30px;
        height: 30px;
        left: 49%; /* as centered as possible, only for tablet mode */
    }

    .left, .right {
        width: 60%;
    }

    .left .popup {
        position: relative; /* pop up does not affect alignment of the other elements and is not affected by their alignment */
        top: 1em; /* pop up appears 20% away from the top */
        left: -220%; 
            /* left is -40%: pop up appears in the center of the screen horizontally */
            /* left is -220%: pop up is completely off screen */
        width: 150%;
        min-height: 0%;
        max-height: 300%; /* remove need for scroll bar */
        overflow: hidden; /*remove scroll bar */
    }

    .right .popup {
        position: relative; /* pop up does not affect alignment of the other elements and is not affected by their alignment */
        top: 1em; /* pop up appears 20% away from the top */
        left: -360%; 
            /* left is 0%: pop up appears in the center of the screen horizontally */
            /* left is -360%: pop up is completely off screen */
        width: 150%;
        min-height: 0%;
        max-height: 300%; /* remove need for scroll bar */
        overflow: hidden; /*remove scroll bar */
    }

    /* for the catch coffee beans mini game */
    #gamefield {
        width: 700px; /* fix a width */
        height: 600px; /* fix a height */
        margin: 30px auto 5px; /* 5px border at tope and bottom*/
                /* auto centers the container on pg horizontally */
    }

    /* arrows player can use to move the cup */
    #leftarrow, #rightarrow {
        height: 220px;
        margin-bottom: 200%;
    }

    /* player controlled object that catches the beans */
    #playerscup {
        width: 160px;
        height: 90px;
        top: 437px; /* line cup with the bottom line */
    }

    .coffeebean {
        width: 50px;
        height: 70px;
    }
}
