@keyframes shakingImg {
    25% {transform: rotate(0deg);}
    30% {transform: rotate(5deg);}
    35% {transform: rotate(-5deg);}
    45% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    55% {transform: rotate(0deg);}
}

/* clear formatting */
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin;
}

body {
    /*min-height: 100vh;
    max-width: 540px;*/
    width: 100%;
    height: 10em;
    box-sizing: border-box;
}

h1 { /* used in the heading, the title */
    font-size: auto; 
}

h2 { /* used for Benefits and Risks headers */
    padding: 5px 10px;
    font-size: 35px;
}

h3 { /* section titles */
    font-size: 25px;
}

.heading {
    display: grid;
    grid-template-columns: 10% auto 10%;
    padding: 15px;
    background-color: #3e2906;
    color: #f9f8eb;
    align-items: center;
}

.heading img {
    /*max-width: 100%; /* prevents image from expanding too large */
    justify-self: center; /* all grid items vertically centralised */
}

#logo {
    max-width: 39px; /*image cannot be too tall */
    min-width: 30px; /* image cannot be squished down too small */
}

#menu {
    max-width: 100%; /* prevents image from expanding too large */
    max-height: 60%; /*image cannot be too tall */
    min-height: 50%; /* image cannot be squished down too small */

    transition: all 0.2s ease-in-out; /* used to animate rotation */
}

.title {
    /*background-color: blue;*/
    justify-self: left; /* horizontally centralised */
    padding-top: 2%;
    padding-left: 1%;
}

#temp {
    background-color: yellow;
    justify-self: center; /* horizontally centralised */
    align-self: center; /* vertically centralised */
}

.navi {
    grid-column: 1 / 4; /* merge, starting from line 1 to 4 --> the entire heading */
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
    flex-grow: 1;
}

.navi a {
    flex-basis: 100%;
    padding: 5px;
    color: #f9f8eb;
    border-top: 1px solid #f9e4c3;
    border-bottom: 1px solid #f9e4c3;
    text-decoration: none;
}

.navi a:hover {
    color: #a47454;
}

.navi a:active {
    color: #674834;
}

.content {
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
}

.header {
    flex-basis: 100%;
    flex-grow: 1;
}

.odd {
    background-color: #f6f5e1;
    color: #3e2906;
    /*f9f8eb*/
}

.even {
    background-color: #845231;
    color: #f9f8eb;
    /*#963500;*/
}

#about {
    flex-basis: 100%;
    flex-grow: 1; /* used for box to fill up screen horizontally when in movile, fill up hald of screen (evenly) in tablet*/
    display: grid;
    grid-template-rows: 2;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
    padding: 10px 10px 5px;
    border-bottom: 2px solid #f9e4c3;
}

.subtopic {
    flex-basis: 100%;
    flex-grow: 1; /* used for box to fill up screen horizontally when in mobile, fill up hald of screen (evenly) in tablet*/
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; /* horizontally centralised */
    align-items: start; /* vertically centralised */
    row-gap: 5px; /* 5px gap between each row */
    padding: 5px 10px;
    border-bottom: 2px solid #f9e4c3;
}

.subtopic p { /* overides the justify-items center for all subtopic elements */
    /* text aligns to the left */
    justify-self: flex-start;
    margin-bottom: 10px;
}

/*links in about pg, even */
.even a { 
    color: #f9f8eb;
    /*border-bottom: 1px solid #f9e4c3;*/
    text-decoration: none;
}

.even a:hover {
    color: #3e2906;
    /*border-color: #3e2906;*/
}

.even a:active {
    color: #674834;
    /*border-color: #674834;*/
}

/*links in about pg, odd */
.odd a {
    color: #3e2906;
    /*border-bottom: 1px solid #3e2906;*/
    text-decoration: none;
}

.odd a:hover {
    color: #b15f29;
    /*border-color: #b15f29;*/
}

.odd a:active {
    color: #c9a187;
    /*border-color: #c9a187;*/
}

.clicktoexpand {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; /* horizontally centralised */
    row-gap: 5px; /* 5px gap between each row */
}

/*to show the headers are clickable and are clicked, even */
.even .clicktoexpand h3 { 
    color: #f9f8eb;
    text-decoration: none;
}

.even .clicktoexpand h3:hover {
    color: #3e2906;
}

.even .clicktoexpand h3:active {
    color: #674834;
}

/*to show the headers are clickable and are clicked, odd */
.odd .clicktoexpand h3 {
    color: #3e2906;
    text-decoration: none;
}

.odd .clicktoexpand h3:hover {
    color: #b15f29;
}

.odd .clicktoexpand h3:active {
    color: #c9a187;
}

/*to show the headers are clickable and are clicked, click for pop up */
.clickforpopup h3 {
    color: #3e2906;
    text-decoration: none;
}

.clickforpopup h3:hover {
    color: #b15f29;
}

.clickforpopup h3:active {
    color: #c9a187;
}


/* drop down clickable img in subtopic sections */
    /* does not include images in about or oddessy */
.subtopic img:hover {
    animation-name: shakingImg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.subtopic img {
    max-height: 80px; /*image cannot be too tall */
    min-height: 60px; /* image cannot be squished down too small */
    padding: 5px;
    flex-basis: 100%; /* center on pg within the a link */
}

/* TEMPORARY */
#journeyline img {
    max-height: 80px; /*image cannot be too tall */
    min-height: 60px; /* image cannot be squished down too small */
}

.expandable {
    /*background-color: red;*/
    margin: 5px 10px; /* margin vs the section's background */
}

.expandable p {
    /*background-color: blue;*/
    padding: 8px 8px 5px; /* padding vs the background image */
    text-align: start;
}

/* for the Odyssey pg only, the "timeline" */
#journeyline {
    display: grid;
    grid-template-areas: /* dictates the layout of elements inside the grid */
        "."
        "event1" /* . indicates an empty cell. used to alternate which side of the timeline the events are */
        "event2"
        "event3";
    row-gap: 3em; /* height of the vertical gap between events */
    position: relative; /* position relative to its normal position */
        /* prevents the journeyline from extending past the grid area */
    background-color: #f6f5e1;
}

/* the timeline part of the journeyline */
#journeyline::before { /* before inserts soemthing before the journeyline element */
    content: ""; /* no text */
    box-sizing: border-box; /*includes content and padding, border */
    width: 10px;
    height: 96%; /* adjusted so there is a gap between the timeline and the header */
        /* height + top = 100% */
    background-color: white;
    border: 1.5px solid rgb(92, 28, 28);
    position: absolute; /* position in accordance with the journeyline element */
    left: 1.5em; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    top: 4%; /* lower the timeline for a gap between the timeline and the header */
    border-radius: 40px; /* rounded borders */
}

/* for the circles on the timeline, placed before the elements */
.left::before, .right::before {
    content: "";
    box-sizing: border-box; /*includes content and padding, border */
    position: absolute;
    left: 1.2em; /* as centered as possible, only for mobile mode */
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make a circle */
    margin-top: 2.75em; /* put it about center vertically relative to the left element */
    background-color: white;
    border: 1.5px solid rgb(92, 28, 28);
    z-index: 1; /* brings it fowrward, overlapping onto the timeline */
}

/* grid-area used for grid template areas for journeyline --> give the element a place in the grid */
#event1 {
    grid-area: event1; 
}
#event2 {
    grid-area: event2; 
}
#event3 {
    grid-area: event3; 
}

.left, .right {
    justify-self: left; /* horizontally left, closer to the timeline */
    padding: 5px 25px; /* 25px away from the timeline */
    margin-left: 10px; /* takes the timeine's width into account */
    width: 80%;
}

.clickforpopup {
    display: block;
    margin: 0px 0.5em;
}

.popup {
    background-color: red;
    /*display: none;*/
    position: absolute; /* pop up does not affect alignment of the other elements and is not affected by their alignment */
    top: 20%; /* pop up appears 20% away from the top */
    left: 5%; /* pop up appears in the center of the screen horizontally */
    width: 90%;
    display: flex;
    flex-flow: row wrap; /* row: all originally set into the same row, pushed to the next through overflow */
                        /* wrap: moves to next line once overflow */
    /* DISPLAY SETTINGS OF POP UP TO BE DONE */
    z-index: 2; /* bring forward even before points in timeline */
}

/* title of the pop up */
.popup h3 { 
    padding: 5px 10px;
    flex-basis: 80%;
    flex-grow: 9;
}

/* paragraph text of the pop up */
.popup p { 
    padding: 5px 10px;
    flex-basis: 90%;
    flex-grow: 1;
}

/* x button for popups, meant to close the popup when pop up is opened */
.close {
    padding: 5px 10px;
    flex-basis: 5%;
    flex-grow: 1;

    /*for the content within .close, aka the image 
    justify-self: center; /* horizontally centralised
    align-self: center; /* vertically centralised */
}

/* popup images, box around the image */
.popupImage {
    padding: 5px 10px;
    flex-basis: 70%;
    flex-grow: 1;
    /* doesn't work 
    justify-items: center; /* popup images, image itself */
}

/* doesnt work 
/* popup images, image itself 
.popupImage img {
     /*for the content within .popupImage, aka the image 
    justify-self: center; /* horizontally centralised 
    align-self: center; /* vertically centralised 
}*/

/* TOGGLE CLASSES */
.hidden {
    display: none;
}

/* THEN ALL IMAGES INSIDE JOURNEYLINE JUSTIFY SELF CENTER? */

/* for tablet: 541px to 720px */
@media screen and (min-width: 541px) {    
    #logo {
        max-width: 55px; /*image cannot be too tall */
        min-width: 45px; /* image cannot be squished down too small */
    }
    
    #about {
        flex-basis: 40%; /* set to 40% to ensure that 2 about/subtopic boxes can be in the same line, with flex-grow helping them fill up the screen evenly */
        padding: 20px 15px 5px; /* shift subject title down with more side spacing */
    }
    .subtopic {
        flex-basis: 40%;
        padding: 5px 15px;
    }

    /* for the Odyssey pg only, the "timeline" */
    #journeyline {
        grid-template-columns: 46% 46%; /* used to make both columns same width. not 100% due to the column gap */
        grid-template-areas: /* dictates the layout of elements inside the grid */
            ". ."
            "event1 ." /* . indicates an empty cell. used to alternate which side of the timeline the events are */
            ". event2"
            "event3 .";
        column-gap: 8%; /* width of the sections with the timeline */
        row-gap: 3em; /* height of the vertical gap between events */
    }

    /* the timeline part of the journeyline */
    #journeyline::before { /* before inserts soemthing before the journeyline element */
        left: 49%; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    }

    /* for the circles on the timeline, placed before the elements */
    .left::before, .right::before {
        width: 25px;
        height: 25px;
        left: 47.75%; /* as centered as possible, only for tablet mode */
    }

    .left {
        justify-self: right; /* horizontally right, closer to the timeline */
        margin-left: 0px; /* takes the timeine's width into account */
    }
    
    .right {
        margin-left: 0px;
    }
}

/* for computer */
@media screen and (min-width: 721px) {
    #menu {
        display: none; /* hide menu icon */
    }
    .navi {
        display: flex; /* expose navi */
    }
    .navi a {
        flex-basis: 20%; /* line all options in the same line */
        flex-grow: 1; /* lt all options take up equal space */
        text-align: center; /* aligns text in the element in the center of the element */
        margin-top: 10px;
    }

    /* the timeline part of the journeyline */
    #journeyline::before { /* before inserts soemthing before the journeyline element */
        width: 12.5px;
        left: 49.65%; /* located aobut center of pg [since journeyline takes up whole width of the pg */
    }

    /* for the circles on the timeline, placed before the elements */
    .left::before, .right::before {
        width: 30px;
        height: 30px;
        left: 49%; /* as centered as possible, only for tablet mode */
    }
}
